target
!target/oceandive-0.0.1-SNAPSHOT.jar
*.md
.idea
*.iml
.vscode
**/node_modules
*.log
.DS_Store
mvnw.cmd
build/
.settings/
.classpath
.project
.factorypath
# ignore github actions
.gitignore
.github
.git

# Maven
target/
!target/*.jar
.mvn/
mvnw
.mvnw.cmd

# IDE specific files
.idea/
.vscode/
*.iml
*.iws
*.ipr

# Logs
logs/
*.log

# OS specific files
.DS_Store
Thumbs.db

# Docker files
Dockerfile*
docker-compose*
.dockerignore

# Misc
README.md
LICENSE
*.md
mydocx
assets

# Environment variables and sensitive information
*.env
*.pem
*.key
*credentials*
*secret*
