<footer th:fragment="footer" class="footer" role="contentinfo">
  <div class="footer-container">
    <!-- Footer Top Section -->
    <div class="footer-top">
      <!-- Footer Logo -->
      <div class="footer-logo">
        <a th:href="@{/}" class="footer-logo-design" aria-label="Oceandive Logo">
          <span>Ocean</span>dive
        </a>
      </div>
      <!-- Footer Navigation -->
      <div class="footer-nav" aria-label="Footer Navigation">
        <div class="footer-nav-links">
          <a th:href="@{/}">HOME</a>
          <a th:href="@{/#courses}">COURSES</a>
          <a th:href="@{/#trips}">TRIPS</a>
          <a th:href="@{/about}">ABOUT US</a>
          <a th:href="@{/contact}">CONTACT US</a>

        </div>
      </div>
      <!-- Footer Contact -->
      <div class="footer-contact">
        <h4>CONTACT INFO</h4>
        <p>Sea Strasse 0</p>
        <p>0000 Oceanside CH</p>
        <p><a th:href="'tel:+00000000000'" aria-label="Oceandive Phone Number">+00 000 000 000</a></p>
        <p><a href="mailto:info@oceandive.ch" class="footer-link" aria-label="Oceandive Email">info@oceandive.ch</a></p>
      </div>
    </div>
    <!-- Footer Bottom -->
    <div class="footer-bottom">
      <p>Copyright &copy; <!--/*@thymesVar id="currentYear" type="java.lang.Integer"*/-->
        <!--/*@thymesVar id="currentYear" type="java.lang.Integer"*/-->
        <span th:text="${currentYear != null ? currentYear : '2025'}"></span> <!--/*@thymesVar id="companyName" type="java.lang.String"*/-->
        <span th:text="${companyName != null ? companyName : 'OceanDive'}"></span>. |
        <a th:href="@{/privacy}" class="footer-link">Privacy Policy</a> |
        <a th:href="@{/terms}" class="footer-link">Terms and Conditions</a>
      </p>
    </div>
  </div>
</footer>